<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clab.content_category.dao.ContentCategoryMapper">

	<resultMap id="contentCategoryMap"
		type="com.clab.content_category.dto.ContentCategoryDto">
		<id property="id" column="id" />
		<result property="contentId" column="content_id" />
		<result property="categoryId" column="category_id" />
	</resultMap>

	<!-- 단건 조회 -->
	<select id="findById" parameterType="int" resultMap="contentCategoryMap">
		SELECT
		id,
		content_id,
		category_id
		FROM content_category
		WHERE id = #{id}
	</select>

	<select id="findByContentId" parameterType="int"
		resultMap="contentCategoryMap">
		SELECT
		id,
		content_id,
		category_id
		FROM content_category
		WHERE content_id = #{contentId}
	</select>

	<!-- 등록 -->
	<insert id="insert"
		parameterType="com.clab.content_category.dto.ContentCategoryDto"
		useGeneratedKeys="true" keyProperty="id">

		INSERT INTO content_category
		(
			content_id,
			category_id
		)
		VALUES
		(
			#{contentId},
			#{categoryId}
		)

	</insert>

	<!-- 삭제 -->
	<delete id="delete" parameterType="int">

		DELETE FROM content_category
		WHERE id = #{id}

	</delete>

</mapper>