<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clab.participant.dao.ParticipantMapper">

    <resultMap id="participantMap" type="com.clab.participant.dto.ParticipantDto">
        <id property="id" column="participant_id"/>
        <result property="chatId" column="chat_id"/>
        <result property="name" column="name"/>
        <result property="count" column="count"/>
        <result property="averageReplyTime" column="average_reply_time"/>
        <result property="chatLength" column="chat_length"/>
    </resultMap>

    <resultMap id="participantPersonaMap" type="com.clab.participant.dto.ParticipantPersonaDto">
        <id property="id" column="participant_id"/>
        <!-- 대화 참여자 -->
        <result property="chatId" column="chat_id"/>
        <result property="name" column="name"/>
        <result property="count" column="count"/>
        <result property="averageReplyTime" column="average_reply_time"/>
        <result property="chatLength" column="chat_length"/>

        <!-- 페르소나 분석 -->
        <result property="personaAnalysisId" column="persona_analysis_id"/>
        <result property="analysisSummary" column="analysis_summary"/>
        <result property="speechStyle" column="speech_style"/>
        <result property="tetoScore" column="teto_score"/>

        <!-- 인물상 -->
        <result property="personaId" column="persona_id"/>
        <result property="personaName" column="persona_name"/>
        <result property="description" column="description"/>
        <result property="image" column="image"/>
    </resultMap>

    <resultMap id="participantMeetingMap" type="com.clab.participant.dto.ParticipantMeetingDto">
        <id property="id" column="participant_id"/>
        <!-- 대화 참여자 -->
        <result property="chatId" column="chat_id"/>
        <result property="name" column="name"/>
        <result property="count" column="count"/>
        <result property="averageReplyTime" column="average_reply_time"/>
        <result property="chatLength" column="chat_length"/>

        <!-- 회의 참여 -->
        <result property="meetingParticipationId" column="meeting_participation_id"/>
        <result property="meaningfulUtteranceCount" column="meaningful_utterance_count"/>
        <result property="keyOpinion" column="key_opinion"/>
        <result property="participationScore" column="participation_score"/>
        <result property="topicInitiationCount" column="topi_initiation_count"/>
        <result property="reactionReceivedScore" column="reaction_received_score"/>
        <result property="assignedTask" column="assigned_task"/>
    </resultMap>

    <!-- 전체 조회 -->
    <select id="findAll" resultMap="participantMap">
        SELECT
            id,
            chat_id,
            name,
            count,
            average_reply_time,
            chat_length
        FROM participant
    </select>

    <!-- 단건 조회 -->
    <select id="findById"
            parameterType="int"
            resultMap="participantMap">
        SELECT
            id,
            chat_id,
            name,
            count,
            average_reply_time,
            chat_length
        FROM participant
        WHERE id = #{id}
    </select>

    <select id="findPersonaById" resultMap="participantPersonaMap">
        SELECT
            p.id AS participant_id,
            p.chat_id,
            p.name,
            p.count,
            p.average_reply_time,
            p.chat_length,
            pa.id AS persona_analysis_id,
            pa.analysis_summary,
            pa.speech_style,
            pa.teto_score,
            per.id AS persona_id,
            per.name AS persona_name,
            per.description,
            per.image
        FROM participant p
        JOIN persona_analysis pa ON p.id = pa.participant_id
        JOIN persona per ON pa.persona_id = per.id
        WHERE p.chat_id = #{chatId}
        ORDER BY
        <choose>
            <when test="sort.sortBy == 'count'">COALESCE(p.count,0)</when>
            <when test="sort.sortBy == 'averageReplyTime'">COALESCE(p.average_reply_time,0)</when>
            <when test="sort.sortBy == 'chatLength'">COALESCE(p.chat_length,0)</when>
            <when test="sort.sortBy == 'tetoScore'">COALESCE(pa.teto_score,0)</when>
            <otherwise>p.id</otherwise>
        </choose>
        <if test="sort.sortOrder == 'DESC'">DESC</if>
        <if test="sort.sortOrder != 'DESC'">ASC</if>
    </select>

	<select id="findMeetingById" resultMap="participantMeetingMap">
	    SELECT
	        p.id AS participant_id,
	        p.chat_id,
	        p.name,
	        p.count,
	        p.average_reply_time,
	        p.chat_length,
	        mp.id AS meeting_participation_id,
	        mp.meaningful_utterance_count,
	        mp.key_opinion,
	        mp.participation_score,
	        mp.topic_initiation_count,
	        mp.reaction_received_score,
	        mp.assigned_task
	    FROM participant p
	    JOIN meeting_participation mp ON p.id = mp.participant_id
	    WHERE p.chat_id = #{chatId}
	    ORDER BY
	    <choose>
	        <when test="sort.sortBy == 'count'">COALESCE(p.count, 0)</when>
	        <when test="sort.sortBy == 'averageReplyTime'">COALESCE(p.average_reply_time, 0)</when>
	        <when test="sort.sortBy == 'chatLength'">COALESCE(p.chat_length, 0)</when>
	        <when test="sort.sortBy == 'meaningfulUtteranceCount'">COALESCE(mp.meaningful_utterance_count, 0)</when>
	        <when test="sort.sortBy == 'participationScore'">COALESCE(mp.participation_score, 0)</when>
	        <when test="sort.sortBy == 'reactionReceivedScore'">COALESCE(mp.reaction_received_score, 0)</when>
	        <when test="sort.sortBy == 'topicInitiationCount'">COALESCE(mp.topic_initiation_count, 0)</when>
	        
	        <otherwise>p.id</otherwise>
	    </choose>
	    <if test="sort.sortOrder == 'DESC'">DESC</if>
	    <if test="sort.sortOrder != 'DESC'">ASC</if>
	</select>


    <select id="findByChatId"
    		parameterType="int"
    		resultMap="participantMap">
        SELECT
            id,
            chat_id,
            name,
            count,
            average_reply_time,
            chat_length
        FROM participant
        WHERE chat_id = #{chatId}
    </select>

    <!-- 등록 -->
    <insert id="insert"
    parameterType="com.clab.participant.dto.ParticipantDto"
    useGeneratedKeys="true"
    keyProperty="id"
    >
        INSERT INTO participant
        (
            chat_id,
            name,
            count,
            average_reply_time,
            chat_length
        )
        VALUES
        (
            #{chatId},
            #{name},
            #{count},
            #{averageReplyTime},
            #{chatLength}
        )
    </insert>

    <!-- 삭제 -->
    <delete id="delete" parameterType="int">
        DELETE FROM participant
        WHERE id = #{id}
    </delete>

    <!-- 삭제 -->
    <delete id="deleteByChatId" parameterType="int">
        DELETE FROM participant
        WHERE chat_id = #{chatId}
    </delete>

</mapper>
